@import url(https://fonts.googleapis.com/css?family=Lora);
body {
  font-family: 'Lora', serif;
  background: url(../images/background.jpg);
}
.nav, .carousel {
  margin-top: 3%;
}
.nav-pills>li>a {
  color: #black;
  font-size: 19px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: #pink;
}
.carousel {
  background: black;
  margin-top: 20px;
}
.bs-example {
  margin: 20px;
}

.carImage {
  width: 100%;
  border: black;
}
#submitButton {
  text-align: center;
}
#orderForm {
  margin-top: 15px;
}
.text-success {
  color: black;
  text-align: center;
  font-size: 20px;
  margin-top: 5px;
}
small {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 10px;
}
h1 {
  text-align: center;
  font-size: 48px;
  letter-spacing: 15px;
  margin-bottom: 50px;
}
.carType {
  text-align: center;
  font-size: 30px;
  margin: 10px 10px 10px 10px;
  outline: 3px outset #FFFFFF;
}
.carStyle, .carYear {
  font-size: 15px;
  margin-bottom: 10px;
  text-align: left;
  margin-left: 10px;
}
.panel-heading {
  text-shadow: 0px 2px 3px #666;
  text-align: center;
}
.renterName {
  text-decoration: underline;
  font-weight: bold;
  font-size: 25px;
}
.radio-inline {
margin-top: 10px;

}
.detailBox {
  width: 620px;
}
.titleBox {
  background-color: #fdfdfd;
  padding: 10px;
}
.titleBox label {
  margin: 0;
  display: inline-block;
}
.commentBox {
  padding: 10px;
  border-top: 1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
  width: 80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
  width: 18%;
}
.actionBox .form-group * {
  width: 100%;
}
.taskDescription {
  margin-top: 10px 0;
}
.commentList {
  padding: 0;
  list-style: none;
}
.commentList li {
  margin: 0;
  margin-top: 10px;
}
.commentList li > div {
  display: table-cell;
}
.commenterImage {
  width: 30px;
  margin-right: 5px;
  height: 100%;
  float: left;
}
.commenterImage img {
  width: 100%;
  border-radius: 50%;
}
.commentText p {
  margin: 0;
}
.sub-text {
  color: #aaa;
  font-family: verdana;
  font-size: 11px;
}
.actionBox {
  border-top: 1px dotted #bbb;
  padding: 10px;
}
html,body{
    height: 100%
}
