<div class="bs-example">
  <form class="form-horizontal">
    <div class="form-group">
      <label for="inputFirstname" class="control-label col-xs-2">First Name</label>
      <div class="col-xs-12  col-md-6">
        <input type="Firstname" class="form-control" id="inputFirstname" placeholder="First Name">
      </div>
    </div>
    <!--first name -->
    <div class="form-group">
      <label for="inputLastname" class="control-label col-xs-2">Last Name</label>
      <div class="col-xs-12  col-md-6">
        <input type="Lastname" class="form-control" id="inputLastname" placeholder="Last Name">
      </div>
    </div>
    <!--last name -->
    <div class="form-group">
      <label for="inputEmail" class="control-label col-xs-2">Email</label>
      <div class="col-xs-12  col-md-6">
        <input type="Email" class="form-control" id="inputEmail" placeholder="">
      </div>
    </div>
    <!-- email -->

    <div class="col-xs-12  col-md-4">
      <label class="control-label">
        Subject
      </label>
      <select id="subject" name="subject" class="form-control">
        <option value="01">Policies</option>
        <option value="02">Complaints</option>
        <option value="03">Order Status</option>
        <option value="04">Question about my order</option>
        <option value="05">General Inquiry</option>
      </select>
    </div>
    <!--subject of message -->
    <br>
    <div class="col-xs-6">
      <textarea id="myTextarea" rows="12" cols="53"></textarea>
    </div>
    <br>
    <br>
    <!-- written message -->
    <div class="col-xs-12">
      <div class="form-group">
        <button id="submitButton2" type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>

<div class="col-xs-12">
  <h4>CUSTOMER CARE</h4> For quality assurance purposes, email and chat session transcripts are retained and monitored. For your protection and security, we do not take orders via chat and email. Customer Care representatives will not request your credit card number or any
  other sensitive information via email.
  <br> Orders may be placed securely on our website http://cars4you.ca or by calling our Customer Care Center at 1-877-444-CARS (1-877-444-1177).
  <br>
  <br>
  <h4>CONTACT US BY PHONE:</h4> Toll Free: 1-877-444-CARS (1-877-444-1177). Monday through Friday 6:00 a.m. - 5:00 p.m., Saturday 7 a.m. - 4 p.m. (PT)
  <br>
  <br>
  <h4>OTHER QUESTIONS:</h4> For help locating information about advertising or licensing, please call the CARS corporate office at 1-877-444-CARS (1-877-444-1177).

</div>
