<div class="col-xs-12 col-md-3"></div>
<div id="orderForm" class="col-xs-12 col-md-6">

  <div class="col-xs-12 col-md-6">
    <label class="control-label">
      Choose Car
    </label>
    <select id="carSelect" class="form-control">
      <option value="Car 1" selected>Car 1</option>
      <option value="Car 2">Car 2</option>
      <option value="Car 3">Car 3</option>
      <option value="Car 4">Car 4</option>
      <option value="Car 5">Car 5</option>
      <option value="Car 6">Car 6</option>
      <option value="Car 7">Car 7</option>
      <option value="Car 8">Car 8</option>
      <option value="Car 9">Car 9</option>
    </select>
  </div>


  <div class="col-xs-12 col-md-6">
    <label class="control-label">
      Choose Colour
    </label>
    <select id="colorSelect" class="form-control">
      <option value="red" selected>Red</option>
      <option value="black">Black</option>
      <option value="white">White</option>
      <option value="grey">Grey</option>
      <option value="sand">Sand</option>
      <option value="navy">Navy</option>
      <option value="burgandy">Burgandy</option>
      <option value="brown">Brown</option>
      <option value="blue">Blue</option>
    </select>
  </div>

  <div class="col-xs-12 col-md-4">
    <label class="control-label">
      Start Rent Date
    </label>
    <input type="text" id="startRentDate" name="name" class="form-control">
  </div>

  <div class="col-xs-12 col-md-4">
    <label class="control-label">
      End Rent Date
    </label>
    <input type="text" id="endRentDate" name="name" class="form-control">
  </div>

  <div class="col-xs-12 col-md-12">
    <label class="control-label">
      Card Holder's Name
    </label>
    <input type="text" id="name" class="form-control">
  </div>

  <div class="col-xs-12 col-md-8">
    <label class="control-label">
      Card Number
    </label>
    <input id="cardNumber" type="text" maxlength="14" placeholder="Card Number" class="form-control input-md">
  </div>

  <div class="col-xs-12 col-md-4">
    <label class="control-label">
      Card CVV
    </label>
    <input type="text" id="securityCode" class="form-control" maxlength="3" title="Three digits at back of your card">
  </div>

  <div class="col-xs-12  col-md-6">
    <label class="control-label">
      Card Expiry Month
    </label>
    <select id="expirymonth" name="expirymonth" class="form-control">
      <option value="01">January</option>
      <option value="02">February</option>
      <option value="03">March</option>
      <option value="04">April</option>
      <option value="05">May</option>
      <option value="06">June</option>
      <option value="07">July</option>
      <option value="08">August</option>
      <option value="09">September</option>
      <option value="10">October</option>
      <option value="11">November</option>
      <option value="12">December</option>
    </select>
  </div>

  <div class="col-xs-12 col-md-6">
    <label class="control-label">
      Card Expiry Year
    </label>
    <input id="expiryYear" type="text" placeholder="Year eg 2014" class="form-control input-md">
  </div>

  <div class="col-xs-12 col-md-6">
    <label class="control-label">
      Address
    </label>
    <input id="address1" type="text" class="form-control">
  </div>

  <div class="col-xs-12 col-md-6">
    <label class="control-label">
      Postal Code
    </label>
    <input type="text" id="zip" class="form-control">
  </div>

  <div class="col-sm-6 col-xs-6 col-md-6">
    <label class="control-label">
      Province
    </label>
    <input type="text" id="state" class="form-control">
  </div>

  <div class="col-sm-6 col-xs-6 col-md-6">
    <label class="control-label">
      Country
    </label>
    <input type="text" class="form-control" id="country">
  </div>

<div class="col-xs-12 col-md-12">
  <div class="radio-inline">
    <label>
      <input type="radio" name="agree" value="Agree"> I have read and agree to the <a href="#">Terms & Conditions.</a>
    </label>
  </div>
</div>

  <div class="col-md-12">
    <button id="submitButton" class="btn btn-success">
      Submit
    </button>
  </div>
  <div id='successMsg' class='col-md-12 text-success'></div>
</div>
<div class="col-xs-12 col-md-3"></div>

<div class="bs-example">
  <form class="form-horizontal">
    <div class="form-group">
      <label for="inputFirstname" class="control-label col-xs-2">First Name</label>
      <div class="col-xs-12  col-md-6">
        <input type="Firstname" class="form-control" id="inputFirstname" placeholder="First Name">
      </div>
    </div>
    <!--first name -->
    <div class="form-group">
      <label for="inputLastname" class="control-label col-xs-2">Last Name</label>
      <div class="col-xs-12  col-md-6">
        <input type="Lastname" class="form-control" id="inputLastname" placeholder="Last Name">
      </div>
    </div>
    <!--last name -->
    <div class="form-group">
      <label for="inputEmail" class="control-label col-xs-2">Email</label>
      <div class="col-xs-12  col-md-6">
        <input type="Email" class="form-control" id="inputEmail" placeholder="">
      </div>
    </div>
    <!-- email -->

    <div class="col-xs-12  col-md-4">
      <label class="control-label">
        Subject
      </label>
      <select id="subject" name="subject" class="form-control">
        <option value="01">Policies</option>
        <option value="02">Complaints</option>
        <option value="03">Order Status</option>
        <option value="04">Question about my order</option>
        <option value="05">General Inquiry</option>
      </select>
    </div>
    <!--subject of message -->
    <br>
    <div class="col-xs-6">
      <textarea id="myTextarea" rows="12" cols="53"></textarea>
    </div>
    <br>
    <br>
    <!-- written message -->
    <div class="col-xs-12">
      <div class="form-group">
        <button id="submitButton" type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>

<div class="col-xs-12">
  <h4>CUSTOMER CARE</h4> For quality assurance purposes, email and chat session transcripts are retained and monitored. For your protection and security, we do not take orders via chat and email. Customer Care representatives will not request your credit card number or any
  other sensitive information via email.
  <br> Orders may be placed securely on our website http://cars4you.ca or by calling our Customer Care Center at 1-877-444-CARS (1-877-444-1177).
  <br>
  <br>
  <h4>CONTACT US BY PHONE:</h4> Toll Free: 1-877-444-CARS (1-877-444-1177). Monday through Friday 6:00 a.m. - 5:00 p.m., Saturday 7 a.m. - 4 p.m. (PT)
  <br>
  <br>
  <h4>OTHER QUESTIONS:</h4> For help locating information about advertising or licensing, please call the CARS corporate office at 1-877-444-CARS (1-877-444-1177).

</div>
