@import url(https://fonts.googleapis.com/css?family=Raleway);

.carImage {
  width:100%;
}
small{
  font-weight: bold;
  font-style: italic;
  font-size: 24px;
}
h1{
  text-align: center;
  font-size: 48px;
  letter-spacing: 20px;
}
.panel-heading {
  text-shadow: 0px 2px 3px #666;
  text-align: center;
}
