@import url(https://fonts.googleapis.com/css?family=Raleway);
.carImage {
  width: 100%;
  border: black;
}
body {
  font-family: Raleway, sans-serif;
  background-color: grey;
}
small {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 10px;
}
h1 {
  text-align: center;
  font-size: 48px;
  letter-spacing: 15px;
  margin-bottom: 50px;
}
.carType {
  text-align: center;
  font-size: 30px;
  margin: 10px 10px 10px 10px;
  outline: 3px outset #FFFFFF;
}
.carStyle, .carYear {
  font-size: 15px;
  margin-bottom: 10px;
  text-align: left;
  margin-left: 10px;
}
.panel-heading {
  text-shadow: 0px 2px 3px #666;
  text-align: center;
}
.renterName {
  text-decoration: underline;
  font-weight: bold;
}
